.content{
    margin-bottom: 1.5%;
    margin-right: 12.5%;
    margin-left: 12.5%;
    width: 75%;
}
.center{
    justify-content: center;
    text-align: center;
}
.hermano{
    float: left;
}
.categorie{
    margin-top: 2%;
    font-family: "Times New Roman";
    font-size: 30px;
}
.organization-title{
    margin-top: 4%;
    font-family: Didot;
    font-size: 50px;
    font-weight: bold;
}
.summary{
    margin-top: 2%;
    width: 100%;
    overflow: hidden;
}
.img{
    width: 20%;
    border: #aaa 0.2px solid;
}
.summary-right{
    margin-left: 2%;
    width: 78%;
}
.summary-text{
    font-family: SFPro;
    font-size: 24px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    color: #707070;
}
.title-container{
    margin-top: 2%;
    font-size: 30px;
    font-family: Graphik, sans-serif;
    color: #969FAD;
    font-weight: bold;
}
.box{
    width: 19%;
    height: 110px;
    border: lightgray 1px solid;
    border-radius: 20px;
    padding-left: 2%;
}
.box-derecha{
    width: 19%;
    margin-left: 1%;
    height: 110px;
    border: lightgray 1px solid;
    border-radius: 20px;
    padding-left: 2%;
}
.title-box{
    margin-top: 10%;
    font-size: 17px;
    font-family: Graphik, sans-serif;
    color: #ADBACC;
    font-weight: bold;
}
.info-box{
    font-size: 40px;
    font-family: Graphik, sans-serif;
    color: #53ACDE;
    font-weight: bold;
}
.info-box-expense{
    font-size: 40px;
    font-family: Graphik, sans-serif;
    color: black;
    font-weight: bold;
}
.projects-title{
    margin-top: 4.5%;
    text-align: center;
    font-size: 40px;
    font-family: "Times New Roman", sans-serif;
}